.board {
  width: 300px;
  height: 300px;
  position: relative;
}
.board div {
  width: 98px;
  height: 98px;
  float: left;
  text-align: center;
  border: 1px solid #d3d3d3;
  line-height: 90px;
  font-size: 40px;
  text-transform: uppercase;
}
.hint {
  font-size: 20px;
  margin: 20px 0;
}